@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #F6F4EE;

  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}