@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


:root {
  --background: #F6F4EE;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: "Kufam";
  src: url("/fonts/alfont_com_Kufam-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-kufam {
  font-family: "Kufam", sans-serif;
}

@keyframes seamless-scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-seamless-scroll {
  animation: seamless-scroll 40s linear infinite;
  display: flex;
  width: max-content;
  height: auto;
  gap: 0.5rem;
}


.animate-seamless-scroll img {
  height: 150px;
}